/*1. VARIABLES CSS (Custom Properties)*/
:root {
    --color-primario: #346f77;
    --color-secundario: #4cc9f0;
    --color-fondo: #191c20;
    --color-texto: #111432;
    --color-borde: #9fd3e6;
}

/* 2. RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Incluye padding y border en el ancho/alto */
}

/* 3. ESTILOS GENERALES*/
body {
    font-family: 'Inter', sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    line-height: 1.6; /* Mejora legibilifaf en textos largos*/
    padding: 40px 20px; /* Espaciado externo*/
}

.contenedor-formulario{
    max-width: 500px;
    margin: 0 auto;
    background: rgb(234, 234, 234);
    padding: 40px;
    border-radius: 12px; /* Bordes redondeados */
    box-shadow: 0 5px 15px rgba(76, 202, 240, 0.514); /* Sombra exterior */
}

h1 {
    text-align: center;
    font-size: 28px;
    color: var(--color-primario);
    margin-bottom: 8px;
}

.subtitulo {
    color: #51616f;
    margin-bottom: 30px;
    text-align: center;
}

.grupo-formulario {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500; /* Semi-negrita */
    font-size: 14px;
    color: #686775;
}
.lbl-centrado {
    display: block;
    margin-bottom: 8px;
    font-weight: 500; /* Semi-negrita */
    font-size: 14px;
    text-align: center;
    color: #686775;
}

input, textarea {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid var(--color-borde);
    border-radius: 8px;
    transition: all 0.3s; /* Animacion suave */
    font-size: medium;
}

input:focus, textarea:focus {
    border-color: var(--color-secundario);
    outline: none; /* Elimina el autline predeterminado*/
    box-shadow: 0 0 0 3px rgba(76, 201, 240,0.2); /* Sombre interior (efecto glow) */
}

.grupo-doble {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.grupo-doble-2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.grupo-doble-3-1 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}

.grupo-triple {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.boton-enviar {
    background-color: var(--color-primario);
    color: white;
    border: none;
    padding: 14px 24px;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    transition: backgroud 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    max-width: 120px;
}

.boton-enviar:hover {
    background-color: var(--color-fondo); /* Color oscuro al pasar el mouse */
}

.boton-limpiar {
    background-color: rgb(197, 197, 204);
    color: var(--color-primario);
    border: none;
    padding: 14px 24px;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    transition: backgroud 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
}

.boton-limpiar:hover {
    background-color: white; /* Color oscuro al pasar el mouse */
}

.boton-reset {
    display: flex;
    justify-content: flex-end; /* alinea a la derecha */
    margin-top: 20px;
}

#boton-centrado {
    display: flex;
    justify-content:space-around ;
    margin-top: 20px;

}

#resultado {
    font-size: x-large;
    text-align: center;
}

